.main{
    border: 3px solid black;
    margin: 20px;

}


.pt{
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 10px;
    justify-content: space-around;
    color: black;
    /* background-color: white; */
    /* border: 3px solid black; */
    margin-top: 30px;
    margin: 0px 0px 0px 0px;
    padding: 25px;
}

.left{
    flex-direction: column;
    display: flex;
    margin-left: 0px;
    font-size: 10px;
    /* background-color: brown; */
}
.center{
    flex-direction: column;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    

}

.right{
    flex-direction: column;
    display: flex;
    font-size: 10px;
    margin-right: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: aqua; */

}

.pt{
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 10px;
    justify-content: space-around;
    color: black;
    background-color: white;
    /* border: 3px solid rgb(71, 69, 69); */
    margin-top: 12px;
    margin: 0px 0px 0px 0px;
}

.left{
    flex-direction: column;
    display: flex;
    margin-left: 0px;
    font-size: 18px;
    /* background-color: brown; */
}
.center2{
    flex-direction: column;
    display: flex;
    font-size: 18px;
    /* font-weight: bold; */
    /* background-color: blue; */
    align-items: flex-start;
    justify-content: center;
    margin-left: 100px;
    

}

.right{
    flex-direction: column;
    display: flex;
    font-size: 18px;
    margin-right: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: aqua; */

}
.pt3{
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 10px;
    justify-content: space-around;
    color: black;
    background-color: white;
    /* border: 3px solid rgb(71, 69, 69); */
    margin-top: 12px;
    margin: 0px 0px 0px 0px;
}

.left3{
    flex-direction: column;
    display: flex;
    margin-left: 30px;
    font-size: 18px;
    /* background-color: brown; */
}
.center3{
    flex-direction: column;
    display: flex;
    font-size: 18px;
    /* font-weight: bold; */
    /* background-color: blue; */
    align-items: flex-start;
    justify-content: center;
    margin-left: 110px;
    margin-bottom:20px ;
    

}

.right3{
    flex-direction: column;
    display: flex;
    font-size: 18px;
    margin-right: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: aqua; */

}


.heading{
    font-size: 8px;
    background-color: rgb(135, 132, 132);
    color: aliceblue;
    justify-content: center;
    display:flex ;
    align-items: center;
  
    margin: 0px 0px 0px 0px;
}

.btn{
    background-color: #6870FB;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    width: 150px;
    font-weight: 600;
    padding: 10px;
}
